.DS_Store
Install/bin
Install/obj
Source/Managed/Framework/bin
Source/Managed/Framework/obj
Source/Managed/Runtime/bin
Source/Managed/Runtime/obj
Source/Managed/Tests/bin
Source/Managed/Tests/obj
Source/Native/Binaries
Source/Native/Intermediate
Source/Native/Managed
